<div class="content">

<div class="title">
  Angular RichText Demo, <br>
  Without Packages!
  <!-- Without packages! -->
</div>

<!-- RichText code -->
<div class="rich">
  <input type="hidden" name="myDoc">
  <!-- Controls -->
  <div id="toolBar2">
    <button type="button" class="intLink controls"  (click)="formatDoc('bold');"><img class="controls-img" src="../assets/bold.svg" alt="">  </button>   
    <button type="button" class="intLink controls"  (click)="formatDoc('italic');"><img class="controls-img" src="../assets/italic.svg" alt="">  </button>
    <button type="button" class="intLink controls"  (click)="formatDoc('underline');"><img class="controls-img" src="../assets/underline.svg" alt="">  </button>
    <button type="button" class="intLink controls"  (click)="formatDoc('justifyleft');"><img class="controls-img" src="../assets/text-align-left.svg" alt=""></button>
    <button type="button" class="intLink controls"  (click)="formatDoc('justifycenter');"><img class="controls-img" src="../assets/text-align-center.svg" alt="">  </button>
    <button type="button" class="intLink controls"  (click)="formatDoc('justifyright');"><img class="controls-img" src="../assets/text-align-right.svg" alt="">  </button>
  </div>
  <!-- /Controls -->

    <!-- Rich text -->
    <input class="hidden" formControlName="main_description" type="text"> <!-- The input is hidden because we can't assign formControlName to a div, so we're going to copy the div's HTML to assign it to the input -->
    <div #richText class="full" id="textBox" contenteditable="true"></div>
    <!-- /Rich text -->
  </div>
<!-- /RichText code -->

<div align="center" class="button-div">
  <button (click)="save()" class="save">Save (Open the console to see the output)</button>
</div>

  <div class="footer">By <b>Avalojandro</b></div>
  <!-- This Component was created by Avalojandro, please share and star this repo!  -->

</div>